* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  background-color: black;
  height: 45px;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}
.header .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu-item__view-type {
  margin-right: 15px;
  white-space: nowrap;
  font-size: 15px;
}
.header .menu-item__view-type a:hover {
  color: orangered;
}
.header .menu-item__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  width: 55px;
}
.header .menu-item__dots:hover {
  background: white;
  background-size: contain;
}
.header .logo img {
  width: 100px;
}
.header a {
  color: white;
}
.header li {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.header li:hover {
  color: orangered;
}
.header .more-menu {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header .user-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}
.header .user-settings__tariffs {
  border: 1px solid white;
  border-radius: 10%;
  padding: 5px 15px;
  margin: 0 15px 0 120px;
  text-transform: capitalize;
}
.header .user-settings__tariffs:hover {
  border-color: orangered;
}
.header .user-settings__tariffs a:hover {
  color: orangered;
}
.header .user-settings__sign-in {
  margin-right: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.header .user-settings__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
.header .user-settings__language {
  color: gray;
  margin-right: 15px;
  cursor: pointer;
}
.header .user-settings__language:hover {
  color: white;
}

@media (max-width: 1100px) {
  .header ul {
    margin-left: 20px;
  }
  .header .menu-item__view-type {
    margin-right: 10px;
  }
  .header .series {
    white-space: nowrap;
  }
  .header .user-settings__search {
    margin-right: 10px;
  }
  .header .user-settings__tariffs {
    margin: 0 10px 0 30px;
  }
  .header .user-settings__language {
    margin-right: 10px;
  }
}
@media (max-width: 1020px) {
  .header {
    height: 40px;
    padding: 10px 15px;
  }
  .header .menu-item__view-type {
    font-size: 14px;
  }
  .header .user-settings__search {
    margin-right: 10px;
  }
  .header .user-settings__tariffs {
    margin: 0 10px 0 25px;
  }
}
.sound-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.sound-control .sound-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 290px;
  margin-top: auto;
  padding: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 45, 45, 0)), to(rgb(20, 20, 20)));
  background-image: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, rgb(20, 20, 20) 100%);
}
.film-content .fall-logotype {
  width: 150px;
}
.film-content .film-info {
  padding: 40px;
  color: white;
  text-transform: uppercase;
}
.film-content .upper-info {
  font-size: 15px;
  margin-right: 20px;
  font-weight: bold;
  cursor: default;
}
.film-content .discount {
  background: red;
  border-radius: 10%;
  padding: 3px 6px;
}
.film-content .subscription {
  color: darkorange;
}
.film-content .film-name {
  text-transform: capitalize;
  margin-top: 20px;
  cursor: default;
}
.film-content .watch {
  background: #f60;
  padding: 15px 30px;
  border-radius: 5%;
  width: 50px;
  height: 50px;
  text-transform: capitalize;
  margin-right: 40px;
  cursor: pointer;
}
.film-content .watch:hover {
  background: orangered;
}
.film-content .player {
  width: 15px;
  margin-right: 10px;
}
.film-content .favorite {
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 15px 30px;
  border-radius: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.film-content .add-to-favorite {
  width: 22px;
  margin-bottom: -4px;
}
.film-content .favorite:hover {
  background: orangered;
  opacity: 0.7;
}
.film-content .vote__dislike {
  margin-bottom: -25px;
  width: 70px;
  margin-right: 40px;
  cursor: pointer;
}
.film-content .vote__dislike:hover {
  background: red;
  opacity: 0.5;
}
.film-content .vote__like {
  width: 70px;
  margin-right: 20px;
  margin-bottom: -25px;
  cursor: pointer;
}
.film-content .vote__like:hover {
  background: green;
  opacity: 0.5;
}
.film-content .description {
  margin: 5px;
  font-size: 13px;
  text-transform: none;
  color: silver;
  cursor: default;
}
.film-content .try {
  margin-right: 55px;
}
.film-content .add {
  margin-right: 40px;
}
.film-content .value-likes {
  margin-right: 40px;
}
.film-content .value-likes:hover {
  color: green;
}
.film-content .value-dislikes:hover {
  color: firebrick;
}

.film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  height: 700px;
  background: url(../img/main-bg.jpg);
  background-size: cover;
}

@media (max-width: 1100px) {
  .film {
    width: 1055px;
    height: 700px;
  }
}
@media (max-width: 1020px) {
  .film {
    width: 975px;
    height: 700px;
  }
}/*# sourceMappingURL=style.css.map */