$filmTextTransformUppercase: uppercase;
$filmTextTransformCapitalize: capitalize;
$headerPadding: 15px 20px;
$filmBorder: 1px solid white;
$filmCursor: pointer;
$tariffsPadding: 5px 15px;
$userSettingsMargin: 15px;
$filmFontSize: 15px;
$fontWeight: bold;
$headerBgColor: black;
$menuItemsPadding: 60px;
$menuMarginLeft: 30px;
$menuTextColor: white;
$filmContentBackground: linear-gradient(180deg, rgba(45,45,45,0) 0%, rgba(20,20,20,1) 100%);
$filmContentMargin: 40px;