@mixin flex() {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.film-content {
    @include flex();
    height: 290px;
    margin-top: auto;
	padding: $contentIndent;
	background-image: linear-gradient(180deg, rgba(45,45,45,0) 0%, rgba(20,20,20,1) 100%);
    .fall-logotype {
        width: 150px;
    }
    .film-info {
        padding: $contentIndent;
        color: $mainColor;
        text-transform: uppercase;
    }
    .upper-info {
        font-size: $mainFSize;
        margin-right: 20px;
        font-weight: bold;
        cursor: default;
    }
    .discount {
        background: red;
        border-radius: 10%;
        padding: 3px 6px;
    }
    .subscription {
        color: darkorange;
    }
    .film-name {
        text-transform: $contentT-Tf;
        margin-top: 20px;
        cursor: default;
    }
    .watch {
        background: #f60;
	    padding: 15px 30px;
	    border-radius: 5%;
	    width: 50px;
	    height: 50px;
	    text-transform: $contentT-Tf;
	    margin-right: $contentIndent;
        cursor: $filmCursor;
    }
    .watch:hover {
        background: orangered;
    }
    .player {
        width: 15px;
        margin-right: 10px;
    }
    .favorite {
        border: 2px solid rgba(255, 255, 255, .4);
        padding: 15px 30px;
        border-radius: 5%;
        align-items: center;
        margin-right: 30px;
        cursor: $filmCursor;
    }
    .add-to-favorite {
        width: 22px;
        margin-bottom: -4px;
    }
    .favorite:hover {
        background: orangered;
        opacity: 0.7;
    }
    .vote {
        &__dislike {
            margin-bottom: -25px;
            width: $voteBS;
            margin-right: $contentIndent;
            cursor: $filmCursor;
        }
        &__dislike:hover {
            background: red;
            opacity: 0.5;
        }
        &__like {
            width: $voteBS;
            margin-right: 20px;
            margin-bottom: -25px;
            cursor: $filmCursor;
        }
        &__like:hover {
            background: green;
            opacity: 0.5;
        }

    }
    .description {
        margin: 5px;
        font-size: 13px;
        text-transform: none;
        color: silver;
        cursor: default;
    }
    .try {
        margin-right: 55px;
    }
    .add {
        margin-right: $contentIndent;
    }
    .value-likes {
        margin-right: $contentIndent;
    }
    .value-likes:hover {
        color: green;
    }
    .value-dislikes:hover {
        color: firebrick;
    }
}