@mixin flex($ai:center) {
    display: flex;
    align-items: $ai
}

.header {
    @include flex();
    padding: $headerPadding;
    background-color: $headerBgColor;
    ul {
        @include flex();
        margin-left: $menuMarginLeft;
    }
    .menu-item {
        @include flex();
        &__view-type {
            margin-right: $menuItemsPadding;
        }
        .series {
            display: flex;
            flex-wrap: nowrap;
        }
    }
    .logo img {
        width: 100px;
    }
    a {
        color: $menuTextColor;
        font-weight: $fontWeight;
        text-transform: $filmTextTransformUppercase;
    }
    .more-menu {
        width: 25px;
        height: 25px;
        cursor: $filmCursor;
    }
    .user-settings {
        @include flex();
        color: $menuTextColor;
        font-weight: $fontWeight;
	    text-transform: $filmTextTransformUppercase;
        margin-right: $userSettingsMargin;
        cursor: $filmCursor;
        &__tariffs {
            border: $filmBorder;
            border-radius: 10%;
            padding: $tariffsPadding;
            margin: 0 15px 0 600px;
        }
        &__search {
            @include flex(center);
            margin-right: $userSettingsMargin;
        }
        &__language {
        color: gray;
        font-size: $filmFontSize;
        margin-right: $userSettingsMargin;
        }
        .login {
        font-size: $filmFontSize;
        margin-right: 0;
        }
    }
}