@mixin flex($ai:center) {
    display: flex;
    align-items: $ai
}

.header {
    @include flex();
    padding: 15px 20px;
    background-color: black;
    height: 45px;
    ul {
        @include flex();
        margin-left: 30px;
    }
    .menu-item {
        @include flex();
        &__view-type {
            margin-right: 15px;
            white-space: nowrap;
            font-size: $mainFSize;
        }
        &__view-type a:hover {
            color: orangered;
        }
        &__dots {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            width: 55px;
        }
        &__dots:hover {
            background: white;
            background-size: contain;
        }
    }
    .logo img {
        width: 100px;
    }
    a {
        color: $mainColor;
    }
    li {
        color: $mainColor;
        font-weight: bold;
        text-transform: uppercase;
    }
    li:hover {
        color: orangered;
    }
    .more-menu {
        width: 25px;
        height: 25px;
        cursor: $filmCursor;
    }
    .user-settings {
        @include flex();
        color: $mainColor;
        margin-right: $headMargin;
        cursor: $filmCursor;
        &__tariffs {
            border: 1px solid $mainColor;
            border-radius: 10%;
            padding: 5px 15px;
            margin: 0 15px 0 120px;
            text-transform: capitalize;
        }
        &__tariffs:hover {
            border-color: orangered;
        }
        &__tariffs a:hover {
            color: orangered;
        }
        &__sign-in {
            margin-right: 0;
            color: $mainColor;
            text-transform: uppercase;
            cursor: $filmCursor;
        }
        &__search {
            @include flex(center);
            margin-right: $headMargin;
        }
        &__language {
            color: gray;
            margin-right: $headMargin;
            cursor: $filmCursor;
        }
        &__language:hover {
            color: white;
        } 
    }
}

@media (max-width: 1100px) {
    .header {
        ul {
            margin-left: 20px;
        }
        .menu-item {
            &__view-type {
                margin-right: 10px;
            }
        }
        .series {
            white-space: nowrap;
        }
        .user-settings {
            &__search {
                margin-right: 10px;
            }
            &__tariffs {
                margin: 0 10px 0 30px;
            }
            &__language {
                margin-right: 10px;
            }
        }
    }

}

@media (max-width: 1020px) {
    .header {
        height: 40px;
        padding: 10px 15px;
        .menu-item {
            &__view-type {
                font-size: 14px;
            }
        }
        .user-settings {
            &__search {
                margin-right: 10px;
            }
            &__tariffs {
                margin: 0 10px 0 25px;
            }
        }
    }
}