@mixin flex($jc: center, $fd:column) {
	display: flex;
	flex-direction: $fd;
}

.film {
	@include flex();
	width: 1920px;
	height: 937px;
	background: url(../img/main-bg.jpg);
	background-size: cover;
}